<div class="w-screen fixed z-50 inset-x-0 bottom-0">
  <div
    class="mx-auto mb-6 p-4 xxs:py-1 md:p-2 w-3/4 xxs:w-11/12 sm:w-3/4 xxs:text-xs sm:text-base md:max-w-screen-md bg-white shadow-2xl text-center rounded-full border border-notice-border text-notice-text"
    style="box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%);"
  >
    <div class="flex items-center">
      <div class="hidden sm:block">
        <img src="/images/stripe-wordmark.svg" class="h-8" />
      </div>
      <div class="ml-1">
        {{{message}}}
        <a class="text-blurple hover:underline" href="https://stripe.com">stripe.com</a>.
      </div>
    </div>
  </div>
</div>
