<header
  class="flex flex-col sm:justify-center sm:flex-row items-start sm:items-center p-2 bg-orange-500 text-white"
>
  {{__ "onboardingNotice.header"}}
  <a
    href="/signup/onboarding"
    class="text-white underline underline-offset-2 active:text-gray-100 sm:px-2 font-medium"
  >
    {{__ "onboardingNotice.link"}}
  </a>
</header>