{{> header }}
<main class="flex flex-col bg-gray-100 items-center h-full">

  <div class="bg-gray-50 pt-12 sm:pt-16">
    
  </div>

  <div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
    <div class="relative max-w-7xl mx-auto">
      <div class="text-center">
        <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
          รายการโปรดในท้องถิ่น
        </h2>
      </div>
      <div class="mt-16 sm:mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="/images/blog-1.png" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium">
                <a href="#" class="hover:underline text-green-600 pointer-events-none">
                  สลัด
                </a>
              </p>
              <a href="#" class="block mt-2 pointer-events-none">
                <p class="text-xl font-semibold text-gray-900">
                  สลัดโซโลมอน - $350                 
                </p>
              </a>
              <div class="w-full bg-white flex flex-row-reverse content-center">
                  <a
                  href="/online"
                  class="w-full sm:w-52 inline-flex items-center justify-center px-4 py-3 mt-4 mb-6 border border-transparent rounded-full shadow-sm text-base font-normal text-white bg-green-800 hover:bg-green-900"
                >สั่งซื้อออนไลน์</a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="/images/blog-2.png" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium">
                <a href="#" class="hover:underline text-green-600 pointer-events-none">
                  ย่าง
                </a>
              </p>
              <a href="#" class="block mt-2">
                <p class="text-xl font-semibold text-gray-900 pointer-events-none">
                  บาร์บีคิวสุดวิเศษ - $700                  
                </p>
              </a>
              <div class="w-full bg-white flex flex-row-reverse content-center">
                  <a
                  href="/qr"
                  class="w-full sm:w-52 inline-flex items-center justify-center px-4 py-3 mt-4 mb-6 border border-transparent rounded-full shadow-sm text-base font-normal text-white bg-green-800 hover:bg-green-900"
                >สั่งซื้อด้วยคิวอาร์โค้ด</a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="/images/blog-3.png" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium">
                <a href="#" class="hover:underline text-green-600 pointer-events-none">
                  ของหวาน
                </a>
              </p>
              <a href="#" class="block mt-2 pointer-events-none">
                <p class="text-xl font-semibold text-gray-900">
                  พุดดิ้ง - $200                 
                </p>
              </a>
              <div class="w-full bg-white flex flex-row-reverse content-center">
                  <a
                  href="/checkout"
                  class="w-full sm:w-52 inline-flex items-center justify-center px-4 py-3 mt-4 mb-6 border border-transparent rounded-full shadow-sm text-base font-normal text-white bg-green-800 hover:bg-green-900"
                >สั่งซื้อออนไลน์</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{{> footer }}
<script>
  (() => {
    
    
  })();
</script>
